<div class="navbar navbar-inverse navbar-fixed-top">
    
    <div class="navbar-header">
        <ul class="nav navbar-static-top">
            <li class="m-3">Test App</li>
            <li class="m-3">@Html.ActionLink("Start Page", "GetStatus", "Message")</li>
        </ul>
    </div>
    
</div>
