@{
    ViewBag.Title = "Home Page";
    //ViewBag.Model = WebAppTest.Models.Message;
}



<div class="row">


</div>

<div class="row maxwidth p-0 m-0 mt-3 ">
    <div class="form-group m-0 w-100">
        <label class="d-block form-control-label ml-xl-1">Your e-mail</label>
        <input name="email" class="d-block form-control mw-60 ml-xl-1 b-1" type="text" />
    </div>
    <div id="email_status"></div>
    <div class="form-group m-0 w-100">
        <label class="d-block form-control-label ml-xl-1">Message</label>
        <textarea name="msg" class="d-block form-control w-100 b-1 msgbox" type="text" placeholder="Write a Massage">
            </textarea>
    </div>
</div>




